.homeLogo {
  width: 516px;
  margin-top: 100px;
}

.claim {
  line-height: 36px;
  margin-bottom: 10vh;
  margin-top: 5vh;
  font-weight: 400;
}

.explore-down,
.explore-down:hover {
  border-bottom: 0px !important;
}

.substep-icon {
  color: #2dd8b1;
  margin-right: 10px;
}

.with-img{
  text-decoration: none !important;
  opacity: 0.8;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  cursor: pointer;
}

.with-img:hover {
  text-decoration: none !important;
  border: none;
  opacity: 1;
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
  cursor: pointer;
}
