h1 {
  margin-top: 12px;
}

.guide {
  height: 66px;
  border-top: 1px solid #dedede;
  display: flex;
  align-items: center;
}
.guide:last-child {
  border-bottom: 1px solid #dedede;
  margin-bottom: 45px;
}
.guide > div {
  padding: 0 10px;
}

.guide .reading-time {
  margin-top: 25px;
}
.guide h2 {
  margin-top: 18px;
  font-size: 18px;
}
.guide a {
  color: #6f6f6f;
}
.guide a:hover {
  color: #2dd8b1;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .guide h2 {
    font-size: 22px;
  }

  .guide:last-child {
    margin-bottom: 90px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
