h2 {
  margin-top: 27px;
}

h3 {
  margin-top: 15px;
}

.rounded-number {
  display: none;
  background-color: #2dd8b1;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
  color: #ffffff;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.sub-step {
  padding-left: 0px;
}

.img-shadowed {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  filter:grayscale(.95);
}

.smooth-corners {
  border-radius: 3px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .rounded-number {
    display: inline-block;
  }

  h2 {
    margin-top: 10px;
  }

  .sub-step {
    padding-left: 36px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
