.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: red;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  background-image: url(../images/modalBackground.jpg);
  background-position: center center;
  background-size: 200%;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem 8rem 5rem;
}
